<div id="sample_playlist_section">
<div class="black_backdrop">
   <h1 id="myconpageheader" class="myconpageheader" style="color: #fff;">TITLE OF PLAYLIST</h1>

<div class="playlist_container">
<div class="def_block">
     <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6" >
               <img class="def_bloc_img_head" src="../web/img/Placemat.png"></img>
          </div>
          <div class="description_and_links col-sm-6 col-md-6 col-lg-6" >
               <p class="playlist_descrip">Build a robot that moves forward without using wheels!</p>
               <div id="special_app" class="special_app"></div>
          </div>
     </div>

     <button class="accordion" id="close" onclick="mySliderFunction(this)">Placemat Examples<span class="caret"></span></button>
     <div class="panel" >
          <div class="row media_content">
     <!--     <div class="media_element col-sm-4 col-md-4 col-lg-4" >
               <img src="../web/img/walkerimg.png"></img>
          </div>
          <div class="media_element col-sm-4 col-md-4 col-lg-4" >
               <iframe src="https://drive.google.com/file/d/1V08TVDEbVHDroVh295iJCoxGE5wcERIo/preview" width="640" height="480"></iframe>
          </div>
          <div class="media_element col-sm-4 col-md-4 col-lg-4" >
               <iframe src="https://drive.google.com/file/d/1V08TVDEbVHDroVh295iJCoxGE5wcERIo/preview" width="640" height="480"></iframe>
          </div>-->
          </div>
     </div>

     </div>
     </div>
</div>
</div>
