<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="PHONECOL col-sm-4 col-md-4 col-lg-4" style="margin-right:15%" >
			  <img class="img-fluid" src="web/img/Logo_White0.png"  onError="this.onerror=null;this.src='../web/img/Logo_White0.png';">

          </div>
          <div class="ABOUTCOL col-md-6 col-lg-6 ml-auto" >
            <div class="row">
              <div class="col-lg-5" style="margin-right: 25%">
		      <a href="https://ceeo.tufts.edu/" target="_blank">
			  <img class="img-fluid" style = "margin-top: 1.5rem;margin-bottom:1rem" src="../web/img/CEEO_Logo_White.png"  onError="this.onerror=null;this.src='web/img/CEEO_Logo_White.png';"alt="">
			  </a>
                
              </div>
              <div class="ABOUTCOL col-md-6 col-lg-4">
                <h2 class="footer-heading" style="">Follow us</h2>
                <ul class="list-unstyled bs" >
                  <li><a href="https://www.instructables.com/member/CEEOInnovations/" target="_blank">Instructables</a></li>

                  <li><a href="https://github.com/ceeoinnovations" target="_blank">Github</a></li>
                </ul>

              </div>



            </div>
          </div>
        </div>
      </div>
    </footer>
