.playgroundsubheader {
    color: #fff;
    font-size: 1.2vw;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;
    background-color: #51d294;
    padding: 3%;
    text-align: center;
    margin-bottom: 5rem;
    border-radius: 10px;
}

.marginbutt{
         margin: .3rem;
}

@media(max-width:2000px){
.playgroundsubheader {
    color: #fff;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;
    background-color: #51d294;
    padding: 3%;
    text-align: center;
    margin-bottom: 5rem;
    border-radius: 10px;
}
}

@media(max-width:600px){
.playgroundsubheader {
    color: #fff;
    font-size: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;
    background-color: #51d294;
    padding: 3%;
    text-align: center;
    margin-bottom: 5rem;
    border-radius: 10px;
}
}
.robosec{
     margin-left: 5%;
     margin-right: 5%;
}

.headplaygroundsubheader {
    color: #fff;
    font-size: 1.2rem;
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    font-weight: 400;
    background-color: #51d294;
    padding: 2%;
    text-align: center;
    margin-bottom: 0rem;
    /* margin-bottom: 5rem; */
    /* border-radius: 10px; */
}
.charcontainer {
    max-width: 100%;
    background-color: #424C55;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#headmypageheader {
    font-size: 6vw;
    font-weight: 800;
    letter-spacing: -0.05em;
    z-index: 10;
    text-align: center;
    position: relative;
    color: #51d294;
    line-height: 0.6em;
    pointer-events: none;
    flex: 1 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: none;
}
.site-heading {
    margin-top: 5rem;
    /* margin-bottom: 5rem; */
    text-transform: uppercase;
    line-height: 1em;

}
.project_description{
    text-align: center;
    margin-left: 10%;
    margin-right:10%;
    background-color: #fff;
    border-radius: 10px;
}
.myprojectheader {
    font-size: 2vw;
}
.iframecontainer{
     margin: 0 auto;
     text-align: center;
}
.titleheader{
     margin-top: 5rem;
}
#mypageheader {
    font-size: 6vw;
    font-weight: 800;
    letter-spacing: -0.05em;
    z-index: 10;
    text-align: center;
    position: relative;
    color: #424C55;
    line-height: 0.6em;
    pointer-events: none;
    flex: 1 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: -0.5px 0.5px #000;
}
.playlist_container {
    margin-left: 0%;
    margin-right: 0%;
    background-color: #fff;
    padding: 3%;
    text-align: center;
    border-radius: 10px;
    border-radius: 5px;
    margin-bottom: 5rem;
}
.site-footer {
  padding: 3.8em 0;
  background-color: #51D294;
}
.home_playlist_container {
    margin-left: 0%;
    margin-right: 0%;
    background-color: #f3f3f3;
    padding: 3%;
    text-align: center;
    border-radius: 10px;
    border-radius: 5px;
    margin-bottom: 5rem;
}
.playlist_container h1{
     font-size: 2rem;
     font-weight: 500;
}

.black_backdrop{
     background-color: #424C55;
     padding: 2%;
     margin-left: 10%;
     margin-right:10%;
     margin-bottom: 5rem;
     border-radius: 10px;
}
#close:after {
 float:right;
  content: '\002B';
}
#open:after {
 float:right;
  content: "\2212";
}

#myconpageheader {
    font-size: 4vw;
    font-weight: 500;
    color: #f3f3f3;
    letter-spacing: -0.05em;
    z-index: 10;
    text-align: left;
    position: relative;
    line-height: 0.7em;
    margin-bottom: 0px;
    pointer-events: none;
}
@media(max-width: 500px){
     #myconpageheader {
         font-size: 5.5vw;
    }
}
.site-heading{
     padding-top: 70px;
}
/*DEF BLOCK CSS----------------------------------------------------------------*/
.def_bloc{

}
#mycontent{
}
.def_bloc_img_head{
     width: 100%;
}
.media_element{
     height: auto;
}
.media_element img, .media_element iframe, .media_element video{
     width:100%;
     margin-left:10px;
     margin-right:10px;
}
@media(max-width:550px){
     .media_element img, .media_element iframe, .media_element video{
          width:100%;
          margin: 0 auto;
     }
}
@media(max-width: 3200px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 3000px){
     .media_element iframe{
          min-height:17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 2700px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;

     }
}
@media(max-width: 2500px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 2300px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 2000px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 1900px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 1700px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 1500px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;

     }
}
@media(max-width: 1250px){
     .media_element iframe{
          width: 100%;
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 1000px){
     .media_element iframe{
          width: 100%;
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}

@media(max-width: 800px){
     .media_element iframe{
          width: 100%;
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 700px){
     .media_element iframe{
          width: 100%;
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(max-width: 640px){
     .media_element iframe{
          width: 100%;
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(min-width: 3000px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(min-width: 3500px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(min-width: 4000px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(min-width: 5000px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
@media(min-width: 6000px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.7vw;
     }
}
@media(min-width: 7000px){
     .media_element iframe{
          min-height: 17.4vw;
          height: 100%;
          max-height: 17.5vw;
     }
}
.media_content{
     margin-top:2rem;
}

@media (max-width: 490px){
.media_element iframe {
    width: 100%;
    min-height: 50.4vw;
    height: 100%;
    max-height: 50.5vw;
    padding-bottom: 1rem;
}
.col-md-4, .col-lg-4,.col-sm-4{
    position: relative;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

.accordion {

  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  margin-top: 1.5rem;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s;
}

.panel {
  display: none;
  background-color: #707070;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.playlist_descrip{
     font-size: 1rem;
}

@media(max-width: 765px){
     .playlist_descrip{
          font-size: .7rem;
     }
}
@media(min-width: 2300px){
     .playlist_descrip{
          font-size: 2.5rem;
     }
}
@media(min-width: 3000px){
     .playlist_descrip{
          font-size: 2.75rem;
     }
}
@media(min-width: 4000px){
     .playlist_descrip{
          font-size: 3rem;
     }
}
@media (min-width: 6000px){
.playlist_descrip {
    font-size: 4rem;
     }
}
@media (min-width: 8000px){
.playlist_descrip {
    font-size: 7rem;
     }
}
@media (min-width: 550px){

     .panel {
       display: block;
       background-color: #fff;
       overflow: hidden;
       transition: max-height 0.2s ease-out;
     }

     .accordion {

       background-color: #eee;
       color: #444;
       display: none;
       cursor: pointer;
       padding: 18px;
       width: 100%;
       border: none;
       text-align: left;
       margin-top: 1.5rem;
       outline: none;
       font-size: 15px;
       font-weight: 500;
       transition: 0.4s;
     }

}
@media (max-width: 490px){
.media_content{
     margin-top:0rem;
     }
}
body {
  counter-reset: section;
}

.myconpageheader::after {
  counter-increment: section;
  content:  counter(section);
  float:right;
}
@media (max-width: 490px){
.media_content{
     margin-top:1rem;
     margin-bottom: 1rem;
}
.accordion {
    font-size: 10px;
}
.myButton, .button {
    font-size: 10px;
     }
}
@media (max-width: 360px){
     .myButton, .button {
         font-size: 8px;
     }
}
#sample_bloc, #mycontent{
     display: none;
}
@media (min-width: 490px){

.col-sm-4, .col-lg-4, .col-md-4 {
     padding-right: 1%;
     padding-left: 1%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
     }


}
.container {
    max-width: 100%;
    padding-top: 5rem;
    border-radius: 0px;
    padding-left: 0px;
    padding-right:0px;
}

.active, .accordion:hover {
     background-color: #ccc;
     }
}
